@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_cJD7g4.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC7g4.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE7g4.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_c5H7g4.ttf) format('truetype');
}

@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kaushanscript/v9/vm8vdRfvXFLG3OLnsO15WYS5DF7_.ttf) format('truetype');
}

@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/arimo/v16/P5sfzZCDf9_T_3cV7NCUECyoxNk37cxsBw.ttf) format('truetype');
}

@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/arimo/v16/P5sfzZCDf9_T_3cV7NCUECyoxNk338xsBw.ttf) format('truetype');
}

@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/arimo/v16/P5sfzZCDf9_T_3cV7NCUECyoxNk3CstsBw.ttf) format('truetype');
}

/*================    Reboot & Basic settings  ===============*/

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*::-moz-selection {
  color: #fff;
  background: #ffb142;
}

*::selection {
  color: #fff;
  background: #ffb142;
}

a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea,
a {
  font-family: inherit;
  outline: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  z-index: 1000;
  opacity: 1;
  visibility: visible;
}

.preloader .loader {
  height: 70px;
  width: 70px;
  border: 5px solid #333;
  border-radius: 50%;
  border-top-color: #D2A257;
  border-right-color: #D2A257;
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

.scroll-top {
  display: block;
  position: fixed;
  right: 30px;
  bottom: -45px;
  z-index: 99;
  width: 42px;
  height: 42px;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  background: #D2A257;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.45s all ease-in-out;
  -o-transition: 0.45s all ease-in-out;
  transition: 0.45s all ease-in-out;
  border-radius: 50%;
}

.scroll-top:hover {
  background: #333;
}

.scroll-topUp {
  bottom: 45px;
}

.main_body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #666666;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.done {
  opacity: 0;
  visibility: hidden;
}

.container {
  padding: 7vw 15px 5vw;
  max-width: 1170px;
  margin: 0px auto;
}

.title {
  font-family: 'Arimo', sans-serif;
  font-weight: 500;
  font-size: 48px;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 1.1;
  white-space: nowrap;
}

.subtitle {
  font-family: 'Kaushan Script', cursive;
  font-size: 54px;
  color: #D2A257;
  line-height: 1.1;
  padding-top: 15px;
  margin-bottom: 30px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 90;
  background: transparent;
}

.header__row {
  padding: 2vw 10vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.header__logo a {
  color: #333333;
  font-size: 36px;
  font-weight: 400;
  text-decoration: none;
}

.header__logo a span {
  font-size: 40px;
  font-weight: 500;
  color: #D2A257;
}

.header__logo:hover a {
  color: #D2A257;
}

.header__logo:hover a span {
  color: #333333;
}

.header__burger {
  background-color: transparent;
  position: relative;
  height: 40px;
  width: 50px;
  z-index: 101;
}

.header__burger label {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.header__burger label:hover ~ .burger__line {
  background-color: #D2A257;
}

.header__burger #check-menu {
  display: none;
}

.header__burger #check-menu:checked ~ .first {
  -webkit-transform: translateX(-40px);
      -ms-transform: translateX(-40px);
          transform: translateX(-40px);
  background-color: transparent;
}

.header__burger #check-menu:checked ~ .second {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 25px;
  background-color: #ffffff;
}

.header__burger #check-menu:checked ~ .third {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 25px;
  background-color: #ffffff;
}

.header__burger #check-menu:checked ~ .fourth {
  -webkit-transform: translateX(40px);
      -ms-transform: translateX(40px);
          transform: translateX(40px);
  background-color: transparent;
}

.header__burger .burger__line {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 25px;
  height: 4px;
  background-color: #333333;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}

.header__burger .second,
.header__burger .third {
  top: 16px;
}

.header__burger .fourth {
  top: 24px;
}

.header__menu {
  position: absolute;
  display: none;
  z-index: 90;
  left: 0vw;
  top: 0;
  background-color: rgba(42, 42, 42, 0.95);
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu .menu__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__menu .menu__link {
  text-align: center;
  color: #ffffff;
  font-family: 'Arimo', sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  padding: 10% 0;
  line-height: 1.2;
}

.header__menu .menu__link:hover {
  color: #D2A257;
}

.header__menu .menu__social-group {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu .menu__social-group a {
  color: #ffffff;
  font-size: 24px;
}

.header__menu .menu__social-group a:hover {
  color: #D2A257;
}

header.sticky {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 20px rgba(24, 23, 23, 0.2);
          box-shadow: 0 0 20px rgba(24, 23, 23, 0.2);
  height: auto;
}

header.sticky .header__row {
  padding: 1vw 10vw;
}

.no-webp .poster {
  background-image: url('../img/poster-bg.jpg'); }

.poster {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.poster__content {
  min-height: 50.72917vw;
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.poster__img {
  position: absolute;
  bottom: -5%;
  left: -5%;
  width: 80%;
  height: 83%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: calc(var(--x)/-70) calc(var(--y)/-70);
}

.poster__name {
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  font-weight: 500;
  font-family: 'Kaushan Script', cursive;
  z-index: 20;
  margin-top: 40%;
  margin-left: 12%;
  font-size: 50px;
  background: -o-linear-gradient(315deg, #fba964 0, #000000 70%);
  background: linear-gradient(135deg, #fba964 0, #000000 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: translateX(calc(var(--x)/-10)) translateY(calc(var(--y)/-10));
      -ms-transform: translateX(calc(var(--x)/-10)) translateY(calc(var(--y)/-10));
          transform: translateX(calc(var(--x)/-10)) translateY(calc(var(--y)/-10));
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.no-webp .poster__box {
  background-image: url('../img/photo-img.png'), -o-linear-gradient(315deg, #979797 0, #ffffff 70%); }

.no-webp .poster__box {
  background-image: url('../img/photo-img.png'), linear-gradient(135deg, #979797 0, #ffffff 70%); }

.poster__box {
  position: absolute;
  bottom: -3.7%;
  left: -5%;
  width: 80%;
  height: 83%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: calc(var(--x)/-70) calc(var(--y)/-70);
  -webkit-clip-path: circle(30% at 25% 47%);
          clip-path: circle(30% at 25% 47%);
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

.poster__box::before {
  content: '';
  position: absolute;
  top: 48%;
  left: 25%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  height: 92%;
  -webkit-box-shadow: inset 0 0 25px rgba(36, 36, 36, 0.5);
          box-shadow: inset 0 0 25px rgba(36, 36, 36, 0.5);
  z-index: 10;
  border-radius: 50%;
}

.poster__text {
  position: relative;
  z-index: 50;
  padding-right: 15%;
}

.poster__title {
  font-size: 42px;
  font-family: 'Kaushan Script', cursive;
  color: #D2A257;
  padding-bottom: 10px;
}

.poster__subtitle {
  font-size: 90px;
  line-height: 120px;
  font-weight: 400;
  font-family: 'Kaushan Script', cursive;
  color: #333333;
}

.poster__skills {
  font-size: 18px;
  font-weight: 500;
  color: #666666;
  margin: 3% 0 5%;
}

.poster__button {
  cursor: pointer;
  max-width: 220px;
  background: #333333;
  border: 1px solid #333333;
  color: #ffffff;
  padding: 15px 25px;
  font-size: 16px;
}

.poster__button:hover {
  border: 1px solid #D2A257;
  background: transparent;
  color: #D2A257;
}

.poster__social-group {
  position: absolute;
  bottom: 0;
  right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.poster__social-group a {
  margin-top: 20px;
  color: #333333;
  font-size: 28px;
}

.poster__social-group a:hover {
  color: #D2A257;
}

.about {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0 0 20px rgba(24, 23, 23, 0.164);
          box-shadow: 0 0 20px rgba(24, 23, 23, 0.164);
}

.about__heading {
  text-align: center;
}

.about__row {
  padding-top: 2%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.about__img {
  padding: 5% 0;
  filter: gray;
  -webkit-filter: grayscale(99%);
  -webkit-backface-visibility: hidden;
}

.about__img:hover {
  -webkit-filter: none;
          filter: none;
}

.about__img img {
  max-width: 100%;
  border-radius: 50%;
}

.about__description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.about__description span {
  color: #D2A257;
}

.about__counter {
  padding: 5% 10%;
}

.about__counter .counter__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__counter .counter__skills {
  font-family: 'Kaushan Script', cursive;
  color: #333333;
  font-size: 40px;
  line-height: 1.1;
  margin-bottom: 40px;
}

.about__counter .counter__item {
  margin-bottom: 30px;
}

.about__counter .counter__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.about__counter .counter__label {
  font-weight: 500;
}

.about__counter .counter__value-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__counter .counter__value {
  padding-right: 3px;
}

.about__counter .counter__progress {
  background: #cfcfcf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 8px;
  border-radius: 5px;
}

.about__counter .counter__progress .progress-value {
  height: 8px;
  width: 0;
  background: #D2A257;
  border-radius: 5px;
}

.about__counter .counter__progress .bar-1 {
  -webkit-animation: load1 3s normal forwards;
          animation: load1 3s normal forwards;
}

.about__counter .counter__progress .bar-2 {
  -webkit-animation: load2 3s normal forwards;
          animation: load2 3s normal forwards;
}

.about__counter .counter__progress .bar-3 {
  -webkit-animation: load3 3s normal forwards;
          animation: load3 3s normal forwards;
}

.about__counter .counter__progress .bar-4 {
  -webkit-animation: load4 3s normal forwards;
          animation: load4 3s normal forwards;
}

.about__counter .counter__progress .bar-5 {
  -webkit-animation: load5 3s normal forwards;
          animation: load5 3s normal forwards;
}

@-webkit-keyframes load1 {
  0% {
    width: 0;
  }

  100% {
    width: 95%;
  }
}

@keyframes load1 {
  0% {
    width: 0;
  }

  100% {
    width: 95%;
  }
}

@-webkit-keyframes load2 {
  0% {
    width: 0;
  }

  100% {
    width: 80%;
  }
}

@keyframes load2 {
  0% {
    width: 0;
  }

  100% {
    width: 80%;
  }
}

@-webkit-keyframes load3 {
  0% {
    width: 0;
  }

  100% {
    width: 85%;
  }
}

@keyframes load3 {
  0% {
    width: 0;
  }

  100% {
    width: 85%;
  }
}

@-webkit-keyframes load4 {
  0% {
    width: 0;
  }

  100% {
    width: 90%;
  }
}

@keyframes load4 {
  0% {
    width: 0;
  }

  100% {
    width: 90%;
  }
}

@-webkit-keyframes load5 {
  0% {
    width: 0;
  }

  100% {
    width: 65%;
  }
}

@keyframes load5 {
  0% {
    width: 0;
  }

  100% {
    width: 65%;
  }
}

.portfolio {
  padding: 7vw 15px 5vw;
}

.portfolio__heading {
  text-align: center;
  margin-bottom: 70px;
}

.portfolio__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__item {
  position: relative;
  z-index: 5;
  margin-bottom: 15px;
  margin-right: 15px;
}

.portfolio__item:hover .portfolio__buttons {
  opacity: 1;
}

.portfolio__item:hover .portfolio__caption {
  opacity: 1;
}

.portfolio__item:hover .portfolio__text {
  opacity: 1;
}

.portfolio__figure {
  max-width: 1192px;
  max-height: 707px;
}

.portfolio__figure img {
  max-width: 100%;
}

.portfolio__text {
  position: absolute;
  z-index: 2;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 5vw;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.portfolio__text-title {
  font-family: 'Kaushan Script', cursive;
  color: #ffffff;
  font-size: 26px;
  padding-bottom: 15px;
  letter-spacing: 1px;
}

.portfolio__text-subtitle {
  font-family: 'Arimo', sans-serif;
  color: #D2A257;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 20px;
}

.portfolio__caption {
  background: rgba(21, 21, 23, 0.8);
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
}

.portfolio__button {
  cursor: pointer;
  text-align: center;
  max-width: 200px;
  background: #333333;
  border: 1px solid #D2A257;
  color: #ffffff;
  padding: 15px 20px;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 500;
}

.portfolio__button:hover {
  border: 1px solid #D2A257;
  background: #ffffff;
  color: #D2A257;
}

.portfolio__button i {
  padding-left: 5px;
  color: #D2A257;
}

.portfolio__item-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.portfolio__item-2 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.portfolio__item-3 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.portfolio__item-4 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.no-webp .contacts {
  background-image: url('../img/dark-bg.jpg'); }

.contacts {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.contacts__heading {
  text-align: center;
}

.contacts__title {
  color: #ffffff;
}

.contacts__row {
  padding: 30px 0 10px;
  text-align: center;
}

.contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts__item i {
  text-align: center;
  display: inline-block;
  font-size: 4rem;
  height: 100px;
  width: 100px;
  line-height: 100px;
  color: #D2A257;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotateY(-30deg);
          transform: rotateY(-30deg);
  text-shadow: 10px 0px 1px #f0efef, 10px 0px 1px #e6e6e6, 10px 0px 1px #ffffff, 10px 0px 1px #ffffff;
}

.contacts__item:hover i {
  color: #dfdfdf;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  text-shadow: 0px 0px 1px #131313, 0px 0px 1px #070707, 0px 0px 1px black, 0px 0px 1px black;
}

.contacts__item:hover a {
  color: #D2A257;
}

.contacts__link {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}

.contacts__footer {
  color: #ffffff;
  padding-top: 70px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1px;
}

.contacts__footer a {
  color: #D2A257;
}

.contacts__footer a:hover {
  text-decoration: underline;
}

@media (max-width: 1270px) {
  .portfolio__figure {
    max-width: 593px;
    max-height: 707px;
  }

  .portfolio__figure img {
    max-width: 100%;
  }
}

@media (max-width: 1200px) {
  .title {
    font-size: 36px;
    letter-spacing: 7px;
  }

  .subtitle {
    font-size: 48px;
  }

  .header__logo a {
    font-size: 28px;
  }

  .header__logo a span {
    font-size: 32px;
  }

  .header__menu .menu__link {
    font-size: 20px;
    padding: 8% 0;
    line-height: 1.2;
  }

  .header__menu .menu__social-group a {
    font-size: 24px;
  }

  .poster__name {
    font-size: 36px;
  }

  .poster__title {
    font-size: 28px;
    font-family: 'Kaushan Script', cursive;
    color: #D2A257;
    padding-bottom: 10px;
  }

  .poster__subtitle {
    font-size: 60px;
    line-height: 70px;
  }

  .poster__skills {
    font-size: 16px;
    margin: 5% 0 10%;
  }

  .poster__button {
    padding: 12px 23px;
    font-size: 14px;
  }

  .poster__social-group {
    position: absolute;
    bottom: 0;
    right: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .poster__social-group a {
    margin-top: 15px;
    font-size: 22px;
  }
}

@media (max-width: 991px) {
  .poster__content {
    grid-template-columns: 1fr 1.5fr;
  }

  .poster__text {
    padding-right: 15%;
  }

  .poster__title {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .poster__subtitle {
    font-size: 38px;
    line-height: 50px;
  }

  .poster__skills {
    font-size: 14px;
    margin: 5% 0 10%;
  }

  .poster__button {
    padding: 10px 20px;
    font-size: 14px;
  }

  .poster__social-group {
    right: 2%;
  }

  .poster__social-group a {
    font-size: 20px;
  }

  .about__row {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .about__description {
    text-align: center;
  }

  .about__counter {
    padding: 2% 10%;
  }

  .about__counter .counter__skills {
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 10vw 15px 2vw;
  }

  .title {
    font-size: 28px;
    letter-spacing: 5px;
  }

  .subtitle {
    font-size: 36px;
  }

  .header__row {
    padding: 2vw 4vw;
  }

  .header__logo a {
    font-size: 18px;
  }

  .header__logo a span {
    font-size: 22px;
  }

  .header__menu .menu__link {
    font-size: 20px;
    padding: 5% 0;
    line-height: 1.2;
  }

  .header__menu .menu__social-group a {
    font-size: 24px;
  }

  .poster__content {
    grid-template-columns: 1fr 1.5fr;
  }

  .poster__name {
    display: none;
  }

  .no-webp .poster__box {
    background-image: url('../img/photo-img.png'), -o-linear-gradient(315deg, #ffffff 0, #ffffff 70%); }

  .no-webp .poster__box {
    background-image: url('../img/photo-img.png'), linear-gradient(135deg, #ffffff 0, #ffffff 70%); }

  .poster__box {
    bottom: -3%;
    background-position: left;
    opacity: 0.5;
  }

  .poster__box::before {
    display: none;
  }

  .poster__text {
    padding-right: 5%;
  }

  .poster__title {
    font-size: 20px;
  }

  .poster__subtitle {
    font-size: 36px;
    line-height: 40px;
  }

  .poster__skills {
    font-size: 14px;
    margin: 3% 0 7%;
  }

  .poster__button {
    padding: 5px 15px;
    font-size: 14px;
  }

  .poster__social-group {
    position: relative;
    bottom: -15px;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .poster__social-group a {
    margin-right: 15px;
  }

  .about__img {
    padding: 2% 0;
    max-width: 250px;
  }

  .portfolio {
    padding: 10vw 15px 2vw;
  }

  .portfolio__heading {
    margin-bottom: 50px;
  }

  .contacts__row {
    padding: 10px 0;
  }

  .contacts__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .contacts__item {
    margin-bottom: 25px;
  }

  .contacts__link {
    padding-top: 0;
    font-size: 16px;
  }

  .contacts__footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .title {
    font-size: 20px;
    letter-spacing: 1px;
  }

  .subtitle {
    font-size: 26px;
  }

  .poster__content {
    grid-template-columns: 1fr;
    min-height: 60vw;
  }

  .poster__box {
    display: none;
  }

  .poster__box::before {
    display: none;
  }

  .poster__text {
    padding: 100px 15px 60px;
    text-align: center;
  }

  .poster__title {
    font-size: 20px;
  }

  .poster__subtitle {
    font-size: 36px;
    line-height: 40px;
  }

  .poster__skills {
    font-size: 14px;
    margin: 3% 0 7%;
  }

  .poster__button {
    padding: 5px 12px;
    font-size: 14px;
  }

  .poster__social-group {
    display: none;
  }

  .about__row {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .about__description {
    text-align: center;
  }

  .about__counter {
    padding: 2% 5%;
  }

  .about__counter .counter__skills {
    font-size: 34px;
    text-align: center;
    margin-top: 20px;
  }

  .portfolio__text-title {
    font-size: 20px;
    padding-bottom: 10px;
    letter-spacing: 1px;
  }

  .portfolio__text-subtitle {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .portfolio__button {
    max-width: 150px;
    padding: 5px 0;
    font-size: 14px;
  }
}

.webp .poster { background-image: url(../img/poster-bg.webp); }

.webp .poster__box { background-image: url(../img/photo-img.webp), -o-linear-gradient(315deg, #979797 0, #ffffff 70%); }

.webp .poster__box { background-image: url(../img/photo-img.webp), linear-gradient(135deg, #979797 0, #ffffff 70%); }

.webp .contacts { background-image: url(../img/dark-bg.webp); }

@media (max-width: 768px) {

  .webp .poster__box { background-image: url(../img/photo-img.webp), -o-linear-gradient(315deg, #ffffff 0, #ffffff 70%); }
}

@media (max-width: 768px) {

  .webp .poster__box { background-image: url(../img/photo-img.webp), linear-gradient(135deg, #ffffff 0, #ffffff 70%); }
}